#pagina{
    background-color: rgb(166, 224, 235);
    margin-left: 200px;
    margin-right: 200px;
}
#seccion_puntos{
    background-color: rgb(240, 193, 205);
    font-size: 25px;
    font-family: century gothic;
    width: 300px;
}
#titulo_juego{
    background-color: rgb(240, 239, 181);
    font-size: 70px;
    font-family: century gothic;
    width:1000px;
}
#seccion_turnos{
    background-color: rgb(230, 193, 240);
    font-size: 30px;
    font-family: century gothic;
    width: 1000px;
}
#escibe_la_palabra{
    background-color: rgb(240, 193, 219);
    font-size: 30px;
    font-family: century gothic;
    width: 1000px;
}
#enviar, #comprobar{
    background-color: rgb(8, 13, 87);
    color:white;
    font-size: 30px;
    font-family: century gothic;
    border-style: solid;
    border-radius: 80px;
    padding: 15px;
}
#juego_de_palabra{
    background-color: rgb(240, 216, 193);
    font-size: 30px;
    font-family: century gothic;
    width: 1000px;
}
#salida, #palabra_mostrada{
    background-color: rgb(240, 193, 219);
    font-size: 30px;
    font-family: century gothic;
    width: 1000px;
}